html{
    background: url(assets/Netflix\ homepage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.netflix{
    color: red;
    font-size: 60px;
}

.header_button{
    color: red;
}

.flex-wrapper{
    display: block;
    /* position: absolute; */
    text-align: center;
    /* top: 40%;
    left: 40%;
    margin-top: 20px;
    margin-right: -20px;*/
}

.container_text{
    display: inline-block;
    color: whitesmoke;
    font-weight: bold;
}

.unlimited{
    font-size: 70px;  
}

.shows{
    font-size: 70px;
}

.watch{
    font-size: 30px;
}

.try-it-now{
    /* display: flex; */
    size: 30px;
    text-align: center;
}

.try-it-now{
    /* display: flex; */
    size: 30px;
    text-align: center;
    
}

.try-it-now_input{
    min-width:29%;
    height: 72px;
    font-size:14pt;
}

.try-it-now_button{
    background-color: red;
    color: white;
    min-width: 15%;
    height: 76px;
    font-size: 20pt;
}